/Ejercicio2.2/build/
/Ejercicio 2/Ejercicio2.3/build/
/Ejercicio 2/Ejercicio2.4/nbproject/private/
/Ejercicio 2/Ejercicio2.4/build/
/Ejercicio 2/EjercicioPalindromo/nbproject/private/
/Ejercicio 2/EjercicioPalindromo/build/
/Ejercicio 2/Ejercicio2.5/nbproject/private/
/Ejercicio 2/Ejercicio2.5/build/
/Ejercicio 2/Ejercicio2.6/nbproject/private/
/Ejercicio 2/Ejercicio2.7/nbproject/private/
/Practica 3/Ejercicio1/nbproject/private/
/Practica 3/Ejercicio1/build/
/Practica 3/Ejercicio2/nbproject/private/
/Practica 3/Ejercicio2/build/
/Practica 3/Ejercicio3/nbproject/private/
/Practica 3/Ejercicio3/build/